In [17]:
import pandas as pd
df=pd.DataFrame([[1,23],[3,45]],columns=["A","B"])

In [ ]:
df.head()

In [23]:
coffee=pd.read_csv("coffee.csv")
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [20]:
result=pd.read_parquet("results.parquet")

# Accessing Data

In [ ]:
coffee.tail()
coffee.head()
coffee.sample()
coffee.loc[3,'Coffee Type']
coffee.iloc[3,1]

# iterating over dataframe 
for index,row in coffee.iterrows():
    print(index)
    print(row)

# Filtering Data

In [ ]:
bios=pd.read_csv("bios.csv")
bios.head()
# bios.info() 
bios.loc[bios['height_cm']>215,['name','height_cm']]
bios[bios['height_cm']>215][['name','height_cm']]

#String Operations 
bios[bios['name'].str.contains("Keith")]

# Adding and Removing Columns

In [46]:
import numpy as np
coffee['price']=np.where(coffee['Coffee Type']=='Espresso',3.99,5.99)

In [ ]:
coffee
coffee.drop(columns=['Day'])
#to actually remove say inplace= true

# Handling Null Values

In [52]:
coffee.loc[[0,1],'Units Sold']=np.nan

In [ ]:
coffee.fillna(coffee['Units Sold'].mean())
coffee.fillna(coffee['Units Sold'].interpolate())
coffee.dropna()

# Aggregating Data

In [ ]:
bios
bios[bios['born_country']=='USA']['born_region'].value_counts()

In [ ]:
bios
bios.groupby('born_country')['height_cm'].mean()
# bios